<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <div>
          <form action="/ta02/addUser" method="POST">
            <label>Add User:</label><br>
            <input type="text" name="newUser">
            <input type="submit">
          </form>
        </div>
        <div>
          <form action="/ta02/removeUser" method="POST">
            <label>Remove User:</label><br>
            <input type="text" name="removeUser">
            <input type="submit">
          </form>
        </div>
        <span id="error"></span>
        <div>
          <% for (var i=0; i < users.length; i++) { %>
            <%= users[i] %>
            <br>
          <% } %>
        </div>
      </div>
    </div>
    <div class="container">

    </div>


</body>

</html>
